@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome - Azure Learners</h1>
   <h2>This is deployed using DevOps.</h2>
    <h3>Now using Deployment slots.</h3>
</div>
