@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    string name = ViewData["name"] as string;
}

<div class="text-center">
    <h1 class="display-4">Welcome - Azure Learners (Target: AZ-204)</h1>
   <h2>This is deployed using DevOps.</h2>
    <h3>This uses Github and App Service Deployment. </h3>
    <h4>Instructor Name: @name</h4>
    
</div>
